


body{

	background:url(image/background_CV.jpg);
	background-size: 100%;
	margin:0px;
	padding:0px;
	justify-content: center;


}

.t{

	text-decoration: underline;
}

.smile{

	justify-content: center;
}


a{

	color: red;
}